<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>

  <body>
    <%- include("./partials/navbar.ejs")%>

      <div class="container">
        <div class="my-4">
          <h2>Blogs Detail</h2>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <%= blog.title %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= blog.snippet %>
            </h6>
            <p class="card-text">
              <%= blog.body %>
            </p>
            <button type="button" data-doc="<%= blog._id %>" id='delete' class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>

      <div class="container">
        <%- include("./partials/footer.ejs")%>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
      <script>
        const btnDelete = document.querySelector('button#delete')

        btnDelete.addEventListener('click', (e) => {
          const endpoint = `/blogs/delete/${btnDelete.dataset.doc}`

          fetch(endpoint, { method: 'DELETE' })
            .then((response) => {
              return response.json()
            })
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
      </script>
  </body>

</html>